*{
    margin: 0;
    padding: 0; 
    font-family: "Jost", sans-serif;
    font-weight: 400;
    line-height: 160%; 
    scroll-behavior: smooth;
}
.container1{
    max-width: 1720px;
    margin: 0 auto;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
.container2{
    max-width: 1500px;
    margin: 0 auto;
}
/*header*/
header{ 
    background: url(assets/Rectangle\ 1316\ \(1\).png);
    color: #FFFFFF;
    background-size: 1920px 1080px;
    background-position: center top;
    padding-top: 30px;
}
.Logo{
    font-size: 30px;
    font-weight: bold;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header a{
    color: #FFFFFF;
    font-weight: 300;
    margin-right: 38px;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;
}
h5{
    font-size: 30px;
    font-weight: 600;
}


.home-flex {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}


h1 {
    font-size: 70px;
    font-weight: 600;
    white-space: nowrap; 
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    margin-bottom: 50px;
}


.center {
    margin-top: 244px ; 
    margin-bottom: 411px;
}


.home img {
    width: 783px;
    height: 917px;
    margin: 76px 0 9Px 144px;

    flex-shrink: 0;
}
.red_button{
    padding: 25px 54px;
    background-color: #C9453B;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
}
.red_button:hover{
    font-size:larger;
    background-color: blueviolet;

}
.paragraf{
    margin-top: 120px;
    width: 891px;
    font-size: 30px;
}
.paragraf span:first-child{
    font-weight: bolder;
}
h2{
    font-size: 70px;
    font-weight:bolder;
    color: #D52027;
}
.School-inf{
    width: 260px;
}
.School-dan{
    padding: 60px 0 120px 0;
}
.School-text{
    font-size: 18px;
    font-weight: 300px;
    opacity: 70%;
}
h3{
    font-size: 50px;
    font-weight: bolder;
}
.School-itog{
    background-color: #F9F9F9;
    padding: 100px 0 100px 0;
}
h4{
    font-size: 24px;
    font-weight: bolder;
}
.School-mat{
    margin-top: 60px;
    width: 360px;
}
.School-mat .flex{
    justify-content: flex-start;
}
.icon{
    position: relative;
    cursor: pointer;
}
.icon img{
    width: 24px;
    height: 24px;
}
.icon:hover span {
    visibility: visible;
    opacity: 1;
}
.icon span {
    visibility: hidden;
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px 20px;
    font-size: 16px;
    width: 251px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* сверху от иконки */
    left: 50%;
    transform: translateX(-50%);
            /* Плавное появление */
    opacity: 0;
    transition: opacity 0.3s;
}
.trainer h3{
    padding-top: 120px;
    margin-bottom: 60px;
}
.trainer-inf img{
    border-radius: 20px;
    width: 360px;
    height: 500px;
}
.more{
    font-size: 18px;
    font-weight: 300px;
    opacity: 70%; 
    color:#D52027;
    text-decoration: none;
}
.help{
    transform: rotate(180deg);
}
.trainer-line{
    padding-top: 70px;
}
.money-1{
    padding: 120px 0 140px 0;
}
.paket1{
    background-color: #141024;
    color: #FFFFFF;
    text-align: center;
    width: 360px;
    height: 500px;
    border-radius: 20px;
    margin-top: 60px;
}
.paket1 h5{
    margin-top: 40px;
}
.paket1 h3{
    margin-top: 83px;
}
.paket1 p{
    margin-top: 20px;
    margin-bottom: 52px;
    font-size: 18px;
    font-weight: 300px;
}
.paket2{
    border: 2px solid rgba(20, 16, 36, 0.2);
    width: 360px;
    height: 460px;
    border-radius: 20px;
    margin-top: 80px;
    text-align: center;
}
.paket2 h5{
    margin-top: 40px;
}
.paket2 h3{
    margin-top: 63px;
}
.paket2 p{
    font-size: 18px;
    font-weight: 300px;
    margin-top: 20px;
    margin-bottom: 61px;
}
.zapis{
    background-color: #D52027;
    color: #FFFFFF;
}
.zapis-text{
    margin-top: 106px;
}
.n{
    font-size: 36px;
    font-weight: bolder;
    width: 476px;
    margin-bottom: 20px;
}
.zapis-p{
    font-size: 20px;
    font-weight: 300px;
}
.dann{
    display: flex;
    flex-direction: column;
    margin-top: 87px;

}
.zapis .flex{
    align-items: flex-start;
}
.input-white{
    width: 500px;
    height: 64px;
    border-radius: 5px;
    border:none ;
    outline: none;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    font-size: 18px;
}
.dann button{
    background-color: #141024;
    color: #FFFFFF;
    width: 500px;
    height: 64px;
    border-radius: 5px;
    border:none ;
    outline: none;
    margin-bottom: 87px;
}
.dann button:hover{
    background-color: rgb(11, 165, 114);
}
footer{
    background-color: #141024;
    color: #FFFFFF;
}
footer p{
    font-size: 16px;
    font-weight: 200;
    opacity: 70%;
    margin: 5px 0 40px 0;
}
footer h5{
    margin-top: 40px;
}
.num{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 70px;
    text-decoration: none;
    color: #FFFFFF;
}
.ss{
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
}